NEXT_PUBLIC_SUPABASE_URL=https://ssqpfkiesxwnmphwyezb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe Keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Stripe Webhook Secret
STRIPE_WEBHOOK_SECRET=

# APP URL
# Production
NEXT_PUBLIC_APP_URL=https://www.trailblaize.net
# Testing
#NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe Chapter Subscription Price ID
STRIPE_CHAPTER_PRICE_ID=

# TWILIO Config
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# SendGrid Config
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=
# President Announcement Template
SENDGRID_ANNOUNCEMENT_TEMPLATE_ID=
# Event Template
SENDGRID_EVENT_TEMPLATE_ID=
SENDGRID_EVENT_REMINDER_TEMPLATE_ID=
# Connection Template
SENDGRID_CONNECTION_REQUEST_TEMPLATE_ID=
SENDGRID_CONNECTION_ACCEPTED_TEMPLATE_ID=
# Message Template
SENDGRID_MESSAGE_TEMPLATE_ID=
# Password Template
SENDGRID_PASSWORD_RESET_TEMPLATE_ID=
SENDGRID_PASSWORD_CHANGE_TEMPLATE_ID=
# Contact Support Template
SENDGRID_CONTACT_SUPPORT_TEMPLATE_ID=

# Telnyx API Key
TELNYX_API_KEY=
TELNYX_PHONE_NUMBER=
TELNYX_SANDBOX_MODE=

# Sentry Analytics Tracking
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=

# Linkedin OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

# OneSignal Configuration
# NEXT_PUBLIC_ONESIGNAL_APP_ID=d116623c-dfe9-452b-97ba-8d2dd66dcf68
# NEXT_PUBLIC_ONESIGNAL_APP_ID_DEV=8f9f9dd9-9a2d-4be5-ae14-b91632335f2e